@tailwind base;

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*::-webkit-scrollbar {
    width: 6px;
    height:8px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@tailwind components;
@tailwind utilities;