@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
}


*::-webkit-scrollbar {
    width: 6px;
    height:8px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@tailwind components;
@tailwind utilities;