@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300400500&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

* {
    outline: none
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: white;
     color: #000;
     }


*::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@tailwind components;
@tailwind utilities;